form {
    background-color: #213b50;
    padding: 20px;
    height: auto;
    width: 600px;
    color: #fff;
}
form label{
    margin-bottom: 3px;
    display: block;
}
form input {
    margin-bottom: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], textarea, select{
    width: 300px;
    height: 20px;
    background-color: #2b4a64;
    border: none;
    color: #fff;
}
input[type="submit"]{
    background-color: #1ac056;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
}
label[for*="male"], input[type="radio"]{
    display: inline-block;
}
select {
    margin-bottom: 10px;
}
textarea{
    width: 300px;
    height: 150px;
}
label[for="permission"]{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
input:focus, textarea:focus, select:focus{
    background-color: #4e708c;
    border: 1px solid #fff;
    outline: none;
}

